body
{
    font-size: 12pt;
    font-family: sans-serif;
    line-height: 1.5;
}

table.person
{
    border: 1px solid #000;
    border-spacing: 0em;
    display: inline-block;
    margin: 1em;
}

td
{
    padding: 0.25em 0.5em;
}
