<?xml version="1.0" encoding="UTF-8" ?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0">
    <servers>
        <server>
            <id>spacetimecat</id>
            <username>replace this with a user in your repository</username>
            <password>replace this with the password of that user</password>
        </server>
    </servers>
</settings>
