@charset "utf-8";

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Define defaults for each variable.

$spacing-unit:     30px !default;

$text-color:       #000 !default;
$background-color: #fff !default;
$code-background-color: #f8f8f8 !default;
$code-text-color: #000 !default;
$site-header-background-color: $code-background-color;
$site-footer-background-color: $code-background-color;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

// Width of the content area
$on-palm:          32em !default;

@page {
    size: 6in 9in;
    margin: 0.75in 0.75in;
}

// -------------------- Begin: font (family, size, etc.)

$base-font-family:  'Noto Sans', 'DejaVu Sans', 'Droid Sans', 'Helvetica', 'Arial', sans-serif !default;
$code-font-family:  'Noto Mono', 'Droid Sans Mono', 'DejaVu Sans Mono', monospace !default;
$print-font-family: 'Noto Serif', 'Droid Serif', 'DejaVu Serif', serif !default;
$palm-font-family:  $base-font-family;

$base-font-size:    12pt !default;
$print-font-size:   10pt !default;
$palm-font-size:    10pt !default;
$base-font-weight:  400 !default;
$base-line-height:  1.35 !default; // 1.2 for Times New Roman

// It is annoying that fonts have different x-heights.
// It is annoying that there isn't a set of coherently-designed font families for combining text, code, and math on the Web.
// Update 2019-03-24: There is for text and code. Examples are Noto and Liberation. But not yet for math.
// We could use rem units, but we'll just pre-calculate them, lest they be unsupported by the browser.

$normal-code-x: 12/12;
$normal-pre-x: 12/12;
$print-code-x: 10/10;
$print-pre-x: 8/10;
$palm-code-x: 10/10;
$palm-pre-x: 8/10;

html    { font-size: $base-font-size; }
code    { font-size: $normal-code-x * $base-font-size; }
pre     { font-size: $normal-pre-x * $base-font-size; }
pre code{ font-size: $normal-pre-x * $base-font-size; }
pre     { line-height: 1.2; }

@media print {
    html    { font-size: $print-font-size; }
    code    { font-size: $print-code-x * $print-font-size; }
    pre     { font-size: $print-pre-x * $print-font-size; }
    pre code{ font-size: $print-pre-x * $print-font-size; }
}
@media screen and (max-width: $on-palm) {
    html    { font-size: $palm-font-size; }
    code    { font-size: $palm-code-x * $palm-font-size; }
    pre     { font-size: $palm-pre-x * $palm-font-size; }
    pre code{ font-size: $palm-pre-x * $palm-font-size; }
}

// End fucking font-size annoyance.

html {
    line-height: $base-line-height;
    font-variant: normal;
    font-weight: normal;

    font-kerning: normal;
    -webkit-font-feature-settings: "kern" 1;
       -moz-font-feature-settings: "kern" 1;
         -o-font-feature-settings: "kern" 1;
            font-feature-settings: "kern" 1;

    font-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

@media print {
    html {
        font-family: $print-font-family;
    }
    .wrapper {
        max-width: none;
        margin: 0em;
    }
    #disqus_thread {
        display: none;
    }
}

@media screen {
    html {
        font-family: $base-font-family;
    }
    body {
        margin: 0em auto;
        padding: 0em;
        max-width: 72ex;
    }
    .page-content > .wrapper {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .wrapper, #disqus_thread {
        margin-left: 1em;
        margin-right: 1em;
    }
}

@media screen and (max-width: $on-palm) {
    html {
        font-family: $palm-font-family;
    }
}

h1 { font-size: 1.500rem; }
h2 { font-size: 1.250rem; }
h3 { font-size: 1.125rem; }
h4 { font-size: 1.063rem; }
h5 { font-size: 0.900rem; }
h6 { font-size: 0.800rem; }

figcaption      { font-size: 0.875rem; }
.page-heading   { font-size: 1.25rem; }
.post-link      { font-size: 1.5rem; }
.post-meta      { font-size: 0.875rem; }

h1, h2, h3, h4, h5, h6 {
    letter-spacing: -0.04em;
    font-weight: bold;
}

.post-link {
    display: block;
}

// -------------------- End: font

p
{
    margin-top: 0em;
    margin-bottom: 0em;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    text-indent: 1.0em;
}

hr
{
    border: none;
    border-top: 1px solid #000;
    margin-top: 1em;
    margin-bottom: 1em;
}

ul, ol
{
    list-style-position: outside;
    margin-top: 1.0em;
    margin-bottom: 1.0em;
    margin-left: 1em;
    margin-right: 0em;
    padding: 0em;
}

li ul, li ol {
    margin-top: 0em;
    margin-bottom: 0em;
}

li
{
    padding: 0em;
    margin: 0em;
}



/**
 * Reset some basic elements
 */
dl, dd, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */
body {
  color: $text-color;
  background-color: $background-color;
}

table
{
    border-collapse: separate;
    border-spacing: 0em;
    margin: 1rem auto;
}

th
{
    border-bottom: 1px solid #000;
    text-align: left;
}

th, td
{
    padding: 0em 1em;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
pre,
dl, figure,
%vertical-rhythm {
    margin-top: 1rem;
    margin-bottom: 1rem;
    -webkit-margin-before: 1rem;
    -webkit-margin-after: 1rem;
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}



/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: underline;

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    color: $text-color;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}


/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre,
code {
  color: $code-text-color;
  font-family: $code-font-family;
}

pre {
    background-color: $code-background-color;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    padding-right: 0;
    padding-left: 0;
  }
}

/* let pre width = content width, center the pre, but left-align the pre content */
div.highlighter-rouge { text-align: center; }
div.highlighter-rouge > * { display: inline-block; text-align: left; }





/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  vertical-align: middle;

  path {
    fill: $grey-color;
  }
}

.social-media-list {
  .icon {
    padding-right: 5px;
  }

  li + li {
    padding-top: 5px;
  }
}



/**
 * Site header
 */
.site-header {
    background-color: $site-header-background-color;
    padding: 0.5em 0;
}

.site-title {
  font-size: 1.0em;
  font-weight: 300;
  letter-spacing: -0.02em;
  margin-bottom: 0;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  display: inline-block;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
    background-color: $site-footer-background-color;
    border-top: 1px solid $grey-color-light;
    padding: 0.5em 0em;
}

.site-footer p {
  text-indent: 0em;
  margin: 0em;
  padding: 0.5em 0em;
}



/**
 * Page content
 */

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  color: $grey-color;
}



/**
 * Posts
 */


// Import partials.
@import
  "minima/syntax-highlighting"
;

/*
org-mode uses #table-of-contents.
filter.lua uses .local_table_of_contents.
*/

.local_table_of_contents {
  margin: 1em 0em;
}

#table-of-contents ul
, .local_table_of_contents ul
{
  list-style-type: none;
  margin-left: 0em;
  padding: 0em;
}

#table-of-contents li
, .local_table_of_contents li
{
  padding: 0em;
}

h2, h3, h4 {
  display: flex;
  justify-content: flex-start;
}

h2 .section_number
, h3 .section_number
, h4 .section_number
, .local_table_of_contents .section_number
{
  min-width: 4rem;
  flex: none;
}

// https://css-tricks.com/snippets/css/a-guide-to-flexbox/

.local_table_of_contents li {
  display: flex;
  justify-content: space-between;
}
.local_table_of_contents .section_title {
  flex: auto;
}
.local_table_of_contents .word_count {
  opacity: 0.333;
  flex: none;
}

.timestamp {
  opacity: 0.5;
}

.done.DONE {
  font-size: 0.875em;
  font-weight: bold;
  font-family: $code-font-family;
  color: #006e00; // ~ HSLUV 128 100 40
}

.todo.TODO {
  font-size: 0.875em;
  font-weight: bold;
  font-family: $code-font-family;
  color: #c00000; // ~ HSLUV 12 100 40
}

.section-number-2, .section-number-3 {
  min-width: 3rem;
  display: inline-block;
}

// TOC

.toc_entry__length_indicator {
  opacity: 0.333;
  margin: 1rem 0rem;
}

// pandoc org-to-html weirdness

a.sourceLine {
  color: inherit;
  text-decoration: inherit;
}
