*.iml
*.swp
*~
.#*
.emacs.desktop
.emacs.desktop.lock
.idea/
/edom.github.io/_pandoc_out/
/etc/emacs.d/.cache/
/etc/emacs.d/auto-save-list/
/etc/emacs.d/custom.el
/tmp/
\#*#
dist-newstyle/
edom.github.io/_vendor/
target/
