*.iml
*.swp
*~
.#*
.emacs.desktop
.emacs.desktop.lock
.idea/
.vscode/ipch/
/edom.github.io/_pandoc_out/
/etc/emacs.d/.cache/
/etc/emacs.d/auto-save-list/
/etc/emacs.d/bookmarks
/etc/emacs.d/custom.el
/etc/emacs.d/elpa/
/etc/emacs.d/history
/etc/emacs.d/session.*
/etc/emacs.d/url/
/tmp/
\#*#
dist-newstyle/
edom.github.io/_vendor/
target/
